
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
  font-family: "DM Sans", sans-serif;
  
}

h1 {
  color: #00b3b3;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bolder;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: -15px;
}



th,
td {
  padding: 13px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  
}

th {
  background-color: #00b3b3;
  color: white;
}

tbody tr:hover {
  background-color: #cdcaca;
}

.product-list li {
  margin: 5px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

/* pagination css */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 10px;
  padding: 8px 16px;
  background-color: #00b3b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 14px;
}
/* action button css*/
.product-table .actions {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.product-table .delete-button,
.product-table .edit-button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 16px;

 
}

/* .product-table .delete-button:hover,
.product-table .edit-button:hover {
  background-color: #ff4500;

} */
/* responsivemess */
@media (max-width: 768px) {

  th,
  td {
    padding: 10px 8px;
  }

  .pagination button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .pagination span {
    font-size: 12px;
  }

  .product-table .actions {
    flex-direction: column;
    gap: 5px;
  }

  .product-table .delete-button,
  .product-table .edit-button {
    font-size: 14px;
  }

  .product-list li {
    padding: 8px;
    font-size: 16px;
   
  }

  table {
    overflow-x: auto;
  
    display: block;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  th,
  td {
    padding: 8px 5px;
  }

  .pagination button {
    padding: 4px 10px;
    font-size: 10px;
  }

  .pagination span {
    font-size: 10px;
  }

  .product-list li {
    font-size: 14px;
    padding: 6px;
  }

  .product-table .actions {
    gap: 5px;
  }

  .product-table .delete-button,
  .product-table .edit-button {
    font-size: 12px;
  }

  table {
    overflow-x: auto;
   
  }
}