@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  font-family: "DM Sans", sans-serif;
}

.update-product {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e9e5e5;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.update-product h2 {
  color: #00b3b3;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bolder;
}

.update-product .form-group {
  margin-bottom: 15px;
}

.update-product .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.update-product .form-group input,
.update-product .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.update-product .form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.update-product button {
  background-color: #00b3b3;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.update-product button:hover {
  background-color: #ff4500;
}

.update-product button[type="button"] {
  background-color: #ff4500;
}

.update-product button[type="button"]:hover {
  background-color: #e03a00;
}